{{!-- app/templates/application.hbs --}}
{{#if session.isAuthenticated}}
  {{partial 'layouts/app/nevigation'}}
{{else}}
  {{partial 'layouts/landing-page/nevigation'}}
{{/if}}
<div class='page-top'>
  {{outlet}}
</div>

{{#if session.isAuthenticated}}
  {{partial 'layouts/app/footer'}}
{{else}}
  {{partial 'layouts/landing-page/footer'}}
{{/if}}